<!-- start custom analytics snippet -->
<!-- Commment out for now

<script async src="https://www.googletagmanager.com/gtag/js?id=G-8WS5GPZ2E3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

 gtag('config', 'G-8WS5GPZ2E3');
</script>


<script async src="https://www.googletagmanager.com/gtag/js?id=G-1L1K2CH2GM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1L1K2CH2GM');
</script>

-->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0J727KM9MB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0J727KM9MB');
</script>